body{
    margin: 0;
    padding: 0;
    background-image: url('https://truth.bahamut.com.tw/s01/201901/28485084378f4214f3d10a88ac3a10fd.JPG');
}
nav{
    width: 100%;
    background: black;
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
li{
    float: right;
}
.logo img{
    position: fixed;
    margin-top: 8px;
    margin-left: 20px;
    height: 6%;
}
nav a{
    width: 100px;
    display: block;
    padding: 25px 17px;
    text-decoration: none;
    font-family: fantasy;
    font-weight: bold;
    font-size: 7;
    color: deepskyblue;
    text-align: center;
}
nav a:hover{
    background: orange;
    transition: 0.5s;
    text-transform: uppercase;
}
.main-logo img{
    margin: 80px 35%;
    max-width: 90%;
    display: block;
    position: fixed;
    height: 50%;
}
